.list {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: auto;
	width: 100%;
}

.containerCondensed {
	max-width: 240px;
	height: 100%;
	padding: 150px 16px 150px;
	overflow: auto;
	position: absolute;
	top: 0;
}

.listItemCondensed {
	list-style: none;
	height: 32px;
	display: flex;
	align-items: center;
	cursor: pointer;
	padding: 0 8px;
}

.listItem {
	list-style: none;
	height: 38px;
	display: flex;
	align-items: center;
	cursor: pointer;
	padding: 0 8px;
}

.listItemText {
	width: 95%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
	font-size: 14px;
}

.listItemActive {
	font-weight: 600;
	border-radius: 4px;
	background: rgba(91, 117, 226, 0.25);
}

.listItem:not(.listItemActive):hover {
	background: #202020;
	border-radius: 4px;
}

.itemIndex {
	width: 32px;
}
